a.modal {
  display: block;
  position: relative;
}

.logo{
		width:450px;
}

.logo a{
	background:none;
}

.logo-image{
/* 		height:120px; */
}

.logo-img{
		padding:5px;
}
.logo-image > a > img {
    max-width: none;
}

@media screen and (min-width: 991px){
	.navbar-default .navbar-nav > li > a {
		padding: 6px 0px 0px 0px;
		line-height: 55px;
	}
}